
body{
    margin-left: 25vw;
    

}
.grid{
    display: flex;
    flex-wrap: wrap;
    width: 667px; /* from 696px */
    height: 644px;  /* from 672px */
    border: solid black;

}

.grid div{
    width: 23px;   /* both changed fr 24 */
    height: 23px;
}


.dot{
    background-color: blue;
    border: 7px solid white;
    box-sizing: border-box;
}

.wall{
    background-color: black;
}

.lair-wall{
    background-color: orangered;
}
.lair-door{
    background-image: url('./images/lair-door.png');
}


.powerup{
    background-image: url('./images/poop2.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    animation: blink 0.8s infinite ease-in;
}

.pac{
    background-image: url("./images/pigman.png");
    background-repeat: no-repeat;
    background-color: white;
    background-size: contain;
    border: none;
    
}

.pigman_right{
    background-image: url("./images/pigman_right.png");
    border: none;
}

.pigman_left{
    background-image: url("./images/pigman_left.png");
    border: none;
}


.lair{
    background-color: white;
}

.blinky{
    background-color: red;
    border: 0px;
}

.pinky{
    background-image: url('./images/pinkyghost.png');
    border: 0px;
}

.inky{
    background-color: blue;
    border: 0px;
}

.clyde{
    background-image: url('./images/clydeghost.png');
    border: 0px;
}

.scared-ghost{
    background-color: aquamarine;
    border: 0px;
    animation: blink 0.3s infinite;
}

@keyframes blink{
    50%{
        opacity: 0.5;
    }
}



/* corners */

.cornerBL{
    background-image: url('./images/cornerBL.png');
    border: 0px;
}

.cornerBR{
    background-image: url('./images/cornerBR.png');
    border: 0px;
}

.cornerTL{
    background-image: url('./images/cornerTL.png');
    border: 0px;
}

.cornerTR{
    background-image: url('./images/cornerTR.png');
    border: 0px;
}

.curbL{
    background-image: url('./images/curbL.png');
    border: 0px;
}

.curbR{
    background-image: url('./images/curbR.png');
    border: 0px;
}

.curbDn{
    background-image: url('./images/curbDn.png');
    border: 0px;
}

#brand{
    margin-right: 32px;
    font-family: 'Slackey', cursive;
    text-shadow: 0px 0px black;
}

#score{
    
    margin-right: 15px;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 1px 1px white;
}

#lives{
    margin-right: 15px;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 1px 1px white;
}
#message{

    animation: blink2 0.75s infinite ease-in-out;
    font-size: 12px;
    font-family: 'Press Start 2P', cursive;
    color: green;
    text-shadow: 1px 1px rgb(0, 250, 0);
    padding-left: 10px;
}

.scoreboard{
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    justify-content: center;
    padding-left: 25px;
    padding-top: 6px;
    width: 646px;
    background-color: pink;
    text-shadow: 1px 1px white;
}

/* ---------- splash related css ------------------- */

.wrapper{
    width: 75%;
    height: 75%;
    background: pink;
    border-radius: 50%;
}

.intro{
    padding-left: 50px;
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Bilbo', cursive;
    font-size: 1.8em;
}

#brand2{
    font-family: 'Slackey', cursive;
    font-size: 11em;
    margin-left: 20px;
    
}

#splash{
    background-color: rgb(155, 140, 160);
}

.btn{
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 50%;
    padding: 10px 10px;
    
    color: white;
    text-shadow: 2px 2px black;
    font-family: 'Slackey', cursive;
    text-decoration: none;
}

@keyframes blink2{
    10%{
        opacity: 0.1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1.0;
    }

}