body{
    margin-left: 25vw

}
.grid{
    display: flex;
    flex-wrap: wrap;
    width: 696px;
    height: 672px;
    border: solid black;

}

.grid div{
    width: 24px;
    height: 24px;
}


.dot{
    background-color: blue;
    border: 7px solid white;
    box-sizing: border-box;
}

.wall{
    background-color: black;
}

.powerup{
    background-image: url('./images/poop.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    animation: blink 0.8s infinite ease-in;
}

.pac{
    background-image: url("./images/pigman.png");
    background-repeat: no-repeat;
    background-color: white;
    background-size: contain;
    border: none;
    
}

.lair{
    background-color: white;
}

.blinky{
    background-color: red;
    border: 0px;
}

.pinky{
    background-image: url('./images/pinkyghost.png');
    border: 0px;
}

.inky{
    background-color: blue;
    border: 0px;
}

.clyde{
    background-image: url('./images/clydeghost.png');
    border: 0px;
}

.scared-ghost{
    background-color: aquamarine;
    border: 0px;
    animation: blink 0.3s infinite;
}

@keyframes blink{
    50%{
        opacity: 0.5;
    }
}

#score{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5px;
}

h3{
    font-family: verdana;
    margin-left: 20%;
}

/* corners */

.cornerBL{
    background-image: url('./images/cornerBL.png');
    border: 0px;
}

.cornerBR{
    background-image: url('./images/cornerBR.png');
    border: 0px;
}

.cornerTL{
    background-image: url('./images/cornerTL.png');
    border: 0px;
}